[user]
	name = Roman Dubovik
	email = {{ if eq .profile "personal" }}booroman@gmail.com{{ else if eq .profile "work" }}roman@work-domain.example{{ end }}
[color]
	ui = auto
[core]
	editor = nano
[credential]
	helper = store
[pull]
	ff = only
