[user]
    name = Roman Dubovik
{{ if eq .profile "personal" -}}
    email = ip.romandubovik@gmail.com
{{- else if eq .profile "work" -}}
    email = roman@work-domain.example
{{- end }}

[init]
    defaultBranch = main

[pull]
    rebase = true

[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate

[push]
    default = current
    autoSetupRemote = true
