{{- if eq .profile "personal" -}}
Host github
  HostName github.com
  User git
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519_github_booroman
  IdentitiesOnly yes
{{- else if eq .profile "work" -}}
# Work-specific Host blocks go here.
# Example:
# Host github.com
#     HostName github.com
#     User git
#     IdentityFile ~/.ssh/id_ed25519_work
#     IdentitiesOnly yes
{{- end }}
